[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"py4j" = "==0.10.6"
msgpack-python = "*"

[dev-packages]
tox = "*"
twine = ">=1.11.0"
setuptools = ">=38.6.0"
wheel = ">=0.31.0"

[requires]
python_version = "3.6"
